<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p colspan="2">
        <a href="/students" class="btn btn-success">students</a>
        <a href="/course" class="btn btn-success">course</a>
      </p>
    </div>
  </body>
</html>