<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-5"><%= title %></h1>
        <% if (error) { %>
            <div class="text-danger"> <%= error %> </div>
        <% } %>
        <form action='/course/create' method='post'>
            <h6 class="mb-3">
                <p>c_id</p>
                <input type='text' name='course[c_id]' placeholder='รหัสวิชา'/>
            </h6>
            <h6 class="mb-3">
                <p>name</p>
                <input type='text' name='course[name]' placeholder='ชื่อวิชา'/>
            </h6>
            <h6 class="mb-3">
                <p>creditPoint</p>
                <input type='number' name='course[creditPoint]' placeholder='หน่วยกิต'/>
            </h6>
            <p>
                <a href="/course" class="btn btn-secondary me-3">Back</a>
                <input type='submit' value='Create' class="btn btn-success"/>
            </p>
        </form>
    </div>
</body>
</html>